<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @profile.hobbies %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @profile.photo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<br>

<% @status_updates.each do |status_update| %>
	<p><strong>Posted by: <%= status_update.user.profile.name if status_update.user.profile %></strong></p>
	<p><strong>Status:</strong></p>
	<p><%= status_update.status %></p>
	<p>Posted on: <%= status_update.created_at.strftime('%l:%M%p %d %b %y')%></p>
<% end %>